<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <!-- Miscellaneous Keys -->
  <MHC_ModTitle>Mechanical Humanlikes Core</MHC_ModTitle>

  <MHC_RestartRequiredSection>Любые изменения настроек в этом разделе требуют перезапуска игры.</MHC_RestartRequiredSection>

  <MHC_ExpandMenu>Развернуть/Свернуть</MHC_ExpandMenu>

  <!-- Mod Settings Page Keys -->
  <MHC_SettingsTabTitle>Настройки</MHC_SettingsTabTitle>

  <MHC_SettingsTabOption_Folded>&lt;</MHC_SettingsTabOption_Folded>
  <MHC_SettingsTabOption_General>Основные</MHC_SettingsTabOption_General>
  <MHC_SettingsTabOption_Health>Здоровье</MHC_SettingsTabOption_Health>
  <MHC_SettingsTabOption_Stats>Статистика</MHC_SettingsTabOption_Stats>

  <!-- General Settings -->
  <MHC_ApplyPreset>Предустановки</MHC_ApplyPreset>

  <!-- Permission Settings-->
  <MHC_bedRestrictionDefaultsToAll>Кровати подходят всем</MHC_bedRestrictionDefaultsToAll>
  <MHC_bedRestrictionDefaultsToAllDesc>По умолчанию, энергокапсулы подходят только андроидам, а все остальные кровати — только органическим существам.</MHC_bedRestrictionDefaultsToAllDesc>

  <!-- Consideration Settings -->
  <MHC_isUsingCustomConsiderations>Использовать пользовательские настройки: {0}</MHC_isUsingCustomConsiderations>
  <MHC_isUsingCustomConsiderationsDesc>Если «False» — Мод будет автоматически регенерировать то, что «Является/Не является» механическим при запуске игры, чтобы он мог найти новые модифицированные расы за вас.</MHC_isUsingCustomConsiderationsDesc>
  <MHC_resetCustomConsiderations>Сброс настроек</MHC_resetCustomConsiderations>
  <MHC_SettingsConsideredMechanicalSapient>Андроид</MHC_SettingsConsideredMechanicalSapient>
  <MHC_SettingsConsideredMechanicalDrone>Дрон</MHC_SettingsConsideredMechanicalDrone>
  <MHC_SettingsConsideredMechanicalAnimal>Механические животные</MHC_SettingsConsideredMechanicalAnimal>
  <MHC_SettingsNotConsideredMechanical>Не механические</MHC_SettingsNotConsideredMechanical>

  <!-- Needs Settings -->
  <MHC_MechanicalSapientOnlyNotice>Примечание: Это касается только тех, кто помечен как андроид. Дроны не имеют таких потребностей.</MHC_MechanicalSapientOnlyNotice>
  <MHC_MechanicalSapientsNeedJoy>Андроиды имеют потребность: Удовлетворённость</MHC_MechanicalSapientsNeedJoy>
  <MHC_MechanicalSapientsNeedBeauty>Андроиды имеют потребность: Красота окружения</MHC_MechanicalSapientsNeedBeauty>
  <MHC_MechanicalSapientsNeedComfort>Андроиды имеют потребность: Комфорт</MHC_MechanicalSapientsNeedComfort>
  <MHC_MechanicalSapientsNeedOutdoors>Андроиды имеют потребность: Комфорт</MHC_MechanicalSapientsNeedOutdoors>

  <MHC_SettingsPresetDefault>По умолчанию</MHC_SettingsPresetDefault>
  <MHC_SettingsPresetCustom>Пользовательский</MHC_SettingsPresetCustom>

  <!-- Power Settings -->
  <MHC_wattsConsumedPerBodySize>Расход энергии на 1 размер тела при зарядке [по умолчанию 500]</MHC_wattsConsumedPerBodySize>
  <MHC_batteryChargeRateFactor>Коэффициент скорости заряда аккумулятора [по умолчанию: 1]</MHC_batteryChargeRateFactor>

  <!-- Health Settings -->
  <!-- Medical -->
  <MHC_medicinesAreInterchangeable>Взаимозаменяемые «Механические/Органические» аптечки</MHC_medicinesAreInterchangeable>
  <MHC_showMechanicalSurgerySuccessChance>Отображение шансов на успех операций</MHC_showMechanicalSurgerySuccessChance>
  <MHC_maxChanceMechanicOperationSuccess>Максимальное изменение шансов успеха операций</MHC_maxChanceMechanicOperationSuccess>
  <MHC_chanceFailedOperationMinor>Шанс неудачных операций [по умолчанию 75%]</MHC_chanceFailedOperationMinor>
  <MHC_chancePartSavedOnFailure>Шанс возврата деталей после неудачных операций [по умолчанию 75%]</MHC_chancePartSavedOnFailure>

  <!-- Maintenance -->
  <MHC_maintenanceNeedExists>Андроиды нуждаются в техобслуживании</MHC_maintenanceNeedExists>
  <MHC_maintenanceFallRateFactor>Как быстро падает техобслуживание</MHC_maintenanceFallRateFactor>
  <MHC_maintenanceGainRateFactor>Как быстро набирается техобслуживание</MHC_maintenanceGainRateFactor>

  <!-- Hediffs -->
  <MHC_hediffBlacklistWarning>Предупреждение: Чем больше в чёрном списке «Статусных эффектов», тем ниже производительность игры.</MHC_hediffBlacklistWarning>
  <MHC_settingsBlacklistedMechanicalHediffs>Запрещённые «Статусы» для андроидов</MHC_settingsBlacklistedMechanicalHediffs>
  <MHC_settingsAllowedMechanicalHediffs>Разрешённые «Статусы» для андроидов</MHC_settingsAllowedMechanicalHediffs>

  <!-- Stats Settings -->
  <!-- Traits -->
  <MHC_traitBlacklistWarning>Предупреждение: Чем больше в чёрном списке «Черт характера», тем ниже производительность игры.</MHC_traitBlacklistWarning>
  <MHC_settingsBlacklistedMechanicalTraits>Запрещённые черты для андроидов</MHC_settingsBlacklistedMechanicalTraits>
  <MHC_settingsAllowedMechanicalTraits>Разрешённые черты для андроидов</MHC_settingsAllowedMechanicalTraits>

</LanguageData>